
body {
  margin: 0;
  font-family: sans-serif;
  background: #0d0d0d;
  color: #fff;
}
header {
  background: #610080;
  padding: 15px;
  text-align: center;
}
#feed {
  padding: 20px;
}
.post {
  background: #1a1a1a;
  padding: 10px;
  margin-bottom: 15px;
  border-left: 4px solid #9d00ff;
}
video {
  width: 100%;
  margin: 20px 0;
}
footer {
  background: #111;
  text-align: center;
  padding: 15px;
}
